<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Recipe Keeper</title>
	<link rel="stylesheet" href="style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Sonsie+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class = "header">
		<img src="images/ChefGrubble.png" alt = "ChefGrubble">
		<a id = "home" href = "/"> 
				<img src="images/recipeKeeperButton.png" height="65" alt = "RecipeKeeper">
		</a>
		<img src="images/ChefGrubble.png" alt = "ChefGrubble">
		<a href = "/addRecipe">
			<img src="images/addANewRecipeButton.png" height="65" alt = "addANewRecipe">
		</a>
		<img src="images/ChefGrubble.png" alt = "ChefGrubble">
		<a href = "/recipeInfo">
			<img src="images/recipeInfoButton.png" height="65" alt = "addANewRecipe">
		</a>
		<img src="images/ChefGrubble.png" alt = "ChefGrubble">
	</div>
    
    <img src="images/RecipeInfo.png" width = "400" alt = "recipeInfo">
    <form action = "https://recipekeeper.onrender.com/recipeInfo" method = "post">
        <label>Please enter the name of the recipe: <input type = "text" name = "recipeName"></label>
        <input type = "submit" id = "submit" value = "Get recipe info">
    </form>

    <h2>Available Recipes</h2>
    <%-recipeTable %>
</body>